<div class="detail-container">
  <img [src]="product?.url" [alt]="product?.name" />
  <div class="detail-item">
    <p>{{ product?.name }}</p>
    <p>${{ product?.price }}</p>
    <form (ngSubmit)="addToCart(product)">
      <select
        name="quantity"
        class="select-input"
        type="select"
        [(ngModel)]="product?.amount ? product.amount : selectedItem"
        (ngModelChange)="changeQuantity($event)"
      >
        <option *ngFor="let number of selectedValues" value="{{ number }}">
          {{ number }}
        </option>
      </select>
      <button type="submit">Add To Cart</button>
    </form>

    <a class="back-link" routerLink="/">Back To Product List</a>
  </div>
</div>
